/*SOMMAIRE
 *
 * -GENERAL
 * -USEFUL-CLASS
 * -NAVBAR
 * -ALGOLIA-SEARCH
 * -FOOTER
 * -CUSTOM-CLASS
 * -OTYS


/*--------------------------------------------------

/*-VARIABLES

/*--------------------------------------------------

$blue: rgba(18, 70, 126, 1)
$grey: #DCDADA
$black: #000
$white: #fff

/*--------------------------------------------------

/*-NAVBAR

/*--------------------------------------------------

.navbar
  font-size: 1.2em
  padding: 1%
  background-color: $blue
  .navbar-toggle
    border-color: $white
    .icon-bar
      background-color: $white
  .navbar-brand
    padding-top: 0px
    > img
      display: block
      height: 50px
  .navbar .btn:hover
    background-color: $grey
    color: $black
    display: block
  .nav > li > a:hover
    color: $black
    border-radius: 10px
  .dropdown-menu
    background-color: $blue
    li > a
      color: $white

/*----------------------------------------

/*-GENERAL

/*----------------------------------------

body
  font-family: "Maven Pro", sans-serif
  overflow-y: scroll
  overflow-x: hidden
  margin-bottom: 60px
  a
    font-weight: 500

h1
  font-size: 3em
  margin: 1em

html
  position: relative
  min-height: 100%


/*----------------------------------------

/*-USEFUL-CLASS

/*----------------------------------------

.shadow
  text-shadow: 1px 1px 2px black
  &:hover
    text-shadow: none

.left
  text-align: left

.right
  text-align: right

.center
  text-align: center

.justify
  text-align: justify

.font-light
  font-family: lato
  font-weight: 100

.radius-s
  border-radius: 5px
  input
    border-radius: 5px

.radius-m
  border-radius: 10px
  input
    border-radius: 10px

.radius-l
  border-radius: 15px
  input
    border-radius: 15px

.radius-xxl
  border-radius: 20px
  input
    border-radius: 20px

.margin-s
  margin: 1em

.margin-m
  margin: 2em

.margin-l
  margin: 3em

.white
  color: $white
  a
    color: $white

.black
  color: $black

.bg-yellow
  background-color: #ede211

.bg-white
  background-color: $white
.bg-blue-1
  background-color: $blue
.uppercase
  text-transform: uppercase
  text-align: center

/*----------------------------------------

/* -ALGOLIA-SEARCH

/*----------------------------------------

.ais-search-box > input
  border: none
  color: $black
  font-size: 1.5em
  height: 3em
  padding-left: 2em
  width: 100%
  &:focus
    outline-width: 0

#stats
  font-size: 1.25em
  padding-top: 1.25em
  text-align: center

.hit-name
  font-size: 1.4em
  text-transform: uppercase

.hit-description
  font-family: lato, sans-serif
  font-size: 1.1em
  font-weight: 300
  text-align: left
  a
    text-decoration: underline

#no-results-message
  font-size: 1em
  padding-top: 0.9em
  a
    font-size: 1.5em
    text-decoration: underline

/*----------------------------------------

/*-FOOTER

/*----------------------------------------

.footer
  position: absolute
  bottom: 0
  width: 100%
  background-color: $blue

/*----------------------------------------

/*-CUSTOM-CLASS

/*----------------------------------------

.login
  height: 3em
  border: 0
  width: 15em

.candidat
  min-height: 90vh
  padding-top: 60px

/*----------------------------------------

/*-OTYS

/*----------------------------------------

.bisjab
  margin: 3em auto 5em
  font-size: 20px
  h1
    font-size: 47px

.menuContainer, .aplListTbl, .menuContainer, .menuLink, .buttonContainer, .aplTitle, .title, .aplIntro
  display: flex
  justify-content: center
  align-items: center
  margin: 1em
  text-align: center

.buttonContainer, .itemContainer
  text-transform: capitalize

.buttonContainer > input, .displayNone > input
  background-color: $blue
  border-radius: 50px
  border: 0px none
  color: $white
  padding: 1em

.jbMafOuter h2
  padding: 1.1em
  float: left

.jbMafOuter .formInput
  float: right
  margin-right: 4em

.jbdOuter .addthis_button
  display: none

@media (max-width: 990px)
  form
    margin-right: 0%
  .menuContainer, .aplListTbl, .text, .menuContainer, .menuLink, .buttonContainer, .itemContainer, .aplTitle, .title, .aplIntro
    display: inherit

.formInput input, textarea
  border: thin solid $grey

@media (min-width: 990px)
  .aplListTbl
    margin-left: 15%
    display: inline-block
    th
      text-align: center
      text-transform: uppercase
      padding: 1em
    td
      padding: 0.5em
  form textarea
    min-width: 19em
  .jbMafOuter .buttonContainer
    padding-top: 41vh
    padding-left: 6vh

.jblOuter .category
  display: none

.bisjab .vacstable
  .formHeaderContainer
    display: flex
    justify-content: center
    align-items: center
    text-align: center

.listFunctionContainer td
  padding-top: 2em
  text-transform: uppercase

.custAddJobOuter
  label, .formInput input, textarea input, .formInput textarea
    width: 30em
    height: 2em
