.navbar {
  padding : 2%;
}
.nav>li>a {
    position: relative;
    display: block;
}
.nav>li>a:hover {
    color: #000000;
    border-radius:5px;
}
.navbar-nav>li>.dropdown-menu {
    background-color: rgba(18, 70, 126, 1.00);
    color: #fff;
    text-shadow: 1px 1px 2px black;
}
.dropdown-menu>li>a {
    color: #fff;
    border-radius: 3px;
    text-shadow: 1px 1px 2px black;
}
.menulist ul li {
  margin-bottom: 9px;
}
.menulist a {
    color: #fff;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    text-transform: uppercase;
}
.menulist li:hover>ul {
display: block;
}
