.navbar {
    margin :  1.5% 1.5%;
    font-size:1.2em;
}
.navbar-nav ul li {
    margin-bottom: 9px;
}
.navbar-nav li:hover>ul {
    display: block;
}

.nav>li:last-child, .nav>li:last-child :hover {
    background-color: rgba(237, 226, 17, 1.00);
    box-shadow: 1px 1px 2px black;
    border-radius : 10px;
}
.navbar .btn, .navbar-nav, .nav>li>a {
    color: #fff;
    border-radius:5px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    display: block;
    float: right;
    height: 3em;
}
.navbar .btn:hover, .navbar-nav, .nav>li>a:hover {
  text-shadow: none;
  color:#000;
}
.navbar .btn{
    background-color: rgba(18, 70, 126, 0);
    border-width: 0px;
    padding: 15px;
    text-shadow: 1px 1px 2px black;
}
.navbar .btn:hover {
  background-color: rgba(238, 238, 238, 1.00);
  color: #000;
  text-shadow:none;
}
.navbar-brand>img {
    display: block;
    height: 50px;
}
.navbar-brand{
    padding-top: 0px;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
    z-index: 1000;
    box-shadow: 1px 1px 2px black;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.dropdown-menu {
    background-color: rgba(18, 70, 126, 1.00);
}
.dropdown-menu>li>a {
    color: #fff;
    border-radius: 3px;
    text-shadow: 1px 1px 2px black;
}
.dropdown-menu>li :hover {
    text-shadow: none;
}
