.event>a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 25px;
 }
.hit-content >p{
  color:#fff;
}
.hit-description a {
  color:#fff;
  text-decoration : underline;
}
#stats{
  color:#FFFFFF;
  text-align:center;
  padding-top:1.25em;
  font-size:1.25em;
}
.ais-search-box >input {
  width: 100%;
  height: 3em;
  border-radius:15px;
  border:none;
  font-size : 1.5em;
  padding-left : 2em;
}
.ais-search-box >placeholder {
  color: black;
}
li> .ais-pagination--link {
  color: #ffffff;
}
