 h1 {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size : 3em;
}

p {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size: 1.4em;
}

.no-results-message{
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size: 1.4em;
}
body {
  background-color:RGBA(18, 70, 126, 1.00);
}
