/*SOMMAIRE

 -GENERAL
 -USEFUL-CLASS
 -NAVBAR
 -ALGOLIA-SEARCH
 -FOOTER
 -CUSTOM-CLASS
 -OTYS

*/

/*--------------------------------------------------*/


/*-NAVBAR */


/*--------------------------------------------------*/

.navbar {
    font-size: 1.2em;
    padding: 1% ;
    background-color: RGBA(18, 70, 126, 1.00);
}

.navbar-toggle{
    border-color: white;
}
.navbar-toggle .icon-bar{
    background-color:white;
}
.navbar-brand {
    padding-top:0px
}
.navbar-brand > img {
    display: block;
    height: 50px;
}

.navbar .btn:hover {
    background-color: #eeeeee;
    color: #000000;
}
.nav > li > a:hover {
    color: #000000;
    border-radius: 10px;
}
.dropdown-menu {
    background-color: #12467e;
}

.dropdown-menu li>a {
    color: white;
}
/*----------------------------------------*/


/*-GENERAL*/


/*----------------------------------------*/

body {
    font-family: "Maven Pro", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
      margin-bottom: 60px;

}

body a {
    font-weight: 500;
}

h1 {
    font-size: 3em;
    margin: 1em;
}
html {
  position: relative;
  min-height: 100%;
}


p {
    font-size: 1.4em;
}


/*----------------------------------------*/


/*-USEFUL-CLASS*/


/*----------------------------------------*/

.shadow {
    text-shadow: 1px 1px 2px black;
}

.shadow:hover {
    /* text-shadow: none; */
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.font-light {
    font-family: lato;
    font-weight: 100;
    font-size: 0.9em;
}

.radius-s,
.radius-s input {
    border-radius: 5px;
}

.radius-m,
.radius-m input {
    border-radius: 10px;
}

.radius-l,
.radius-l input {
    border-radius: 15px;
}

.radius-xxl,
.radius-xxl input {
    border-radius: 20px;
}

.margin-s {
    margin: 1em;
}

.margin-m {
    margin: 2em;
}

.margin-l {
    margin: 3em;
}

.no-results-message {
    font-size: 1.4em;
}

.white,
.white a {
    color: #ffffff;
}

.black {
    color: #000;
}

.bg-yellow {
    background-color: #ede211;
}

.bg-blue {
    background-color: rgba(18, 70, 126, 0);
}

.bg-blue-1 {
    background-color: rgba(18, 70, 126, 1);
}

.bg-white {
    background-color: white;
}

.uppercase {
    text-transform: uppercase;
    text-align: center;
}



/*----------------------------------------*/


/* -ALGOLIA-SEARCH*/


/*----------------------------------------*/

.ais-search-box > input {
    border: none;
    color: #000000;
    font-size: 1.5em;
    height: 3em;
    padding-left: 2em;
    width: 100%;
}

.ais-search-box > input:focus {
    outline-width: 0;
}

#stats {
    font-size: 1.25em;
    padding-top: 1.25em;
    text-align: center;
}

.hit-name {
    font-size: 1.4em;
    text-transform: uppercase;
}

.hit-description {
    font-family: lato, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    text-align: left;
}

.hit-description a {
    text-decoration: underline;
}

#no-results-message {
    font-size: 1em;
    padding-top: 0.9em;
}

#no-results-message a {
    font-size: 1.5em;
    text-decoration: underline;
}


/*----------------------------------------*/


/*-FOOTER*/


/*----------------------------------------*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: RGBA(18, 70, 126, 1.00);
}

/*----------------------------------------*/


/*-CUSTOM-CLASS*/


/*----------------------------------------*/

.login {
    height: 3em;
    border: 0;
    width: 15em
}

.candidat {
    min-height: 90vh;
    padding-top: 60px;
}

.candidat form {
    display: table-caption;
    border-left-width: 500px;
    margin-left: 40em;
}


/*----------------------------------------*/


/*-OTYS*/


/*----------------------------------------*/

.bisjab {
    margin: 3em auto 5em;
}

.menuContainer,
.aplListTbl,
.menuContainer,
.menuLink,
.buttonContainer,
.aplTitle,
.title,
.aplIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    text-align: center;
}

.aplTitle,
.title {
    font-size: 3em;
    color: ;
}

.buttonContainer,
.intro,
.menuContainer,
.formInput {
    font-size: 1.2em;
}

.myProfileAgentsOuter .text,
.aplOuter .text,
.myProfileAgentsOuter .itemContainer,
.jbMafOuter .text,
.aplProfTitle .text {
    font-size: 1.5em;
    text-align: center;
}

.jbdStatPub,
.jbdTextLoc {
    font-size: 1.5em;
}

.itemWord,
.itemDescription {
    font-size: 1.2em;
}

td {
    padding-right: 2em;
}

.buttonContainer,
.itemContainer {
    text-transform: capitalize;
}

.buttonContainer >input,
.displayNone >input {
    background-color: #12467E;
    border-radius: 50px;
    border: 0px none;
    color: white;
    padding: 1em;
}

.jbMafOuter h2 {
    padding: 1.1em;
    float: left;
}

.aplOuter .formInput,
.aplOuter .buttonContainer,
.jbMafOuter .formInput {
    float: right;
    margin-right: 4em;
}

.jbdOuter .addthis_button {
    display: none;
}

@media (max-width: 990px) {
    form {
        margin-right: 0%;
    }
    .menuContainer,
    .aplListTbl,
    .text,
    .menuContainer,
    .menuLink,
    .buttonContainer,
    .itemContainer,
    .aplTitle,
    .title,
    .aplIntro {
        display: inherit;
    }
}

.formInput input,
textarea {
    border: thin solid #DCDADA;
}

@media (min-width: 990px) {
    .aplListTbl {
        margin-left: 15%;
        font-size: 1.3em;
        display: inline-block;
    }
    .aplListTbl th {
        text-align: center;
        text-transform: uppercase;
        padding: 1em;
    }
    .aplListTbl td {
        padding: 0.5em;
    }
    form textarea {
        min-width: 19em;
    }
    .jbMafOuter .buttonContainer {
        padding-top: 41vh;
        padding-left: 6vh;
    }
}

.jblOuter .category {
    display: none;
}

.bisjab .vacstable .formHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 42px;
}

.bisjab .vacstable .pageLinkContainer {
    font-size: 11px;
}

.bisjab .vacstable tr {
    font-size: 1.1em;
}

.bisjab .menuLink . aplProfOuter {
    font-size: 1.2em;
}

.listFunctionContainer td {
    font-size: large;
    padding-top: 2em;
    text-transform: uppercase
}

.custAddJobOuter label,
.custAddJobOuter .formInput input,
.custAddJobOuter textarea input,
.custAddJobOuter .formInput textarea {
    float: right;
    width: 30em;
    height: 2em
}
