body {
  background-color:rgba(18, 70, 126, 1.00);
  font-family: "Maven Pro", sans-serif;
  color:#fff;
  box-shadow: 1px 1px 2px black;
}

body a{
  color: #fff;
  text-shadow: 1px 1px 2px black;
  font-weight: 500;
}

h1 {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size : 3em;
  margin-bottom: 1em;
  margin-top: 1.5em;
}

p {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size: 1.4em;
}

.no-results-message{
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size: 1.4em;
}
.mosaique img {
  margin : 0.4em;
}
.mosaique h2 {
  margin-top: 1em;
  margin-bottom:1.5em;
  text-align:center;
}
.cta{
    background-color: rgba(237, 226, 17, 1.00);
    box-shadow: 1px 1px 2px black;
    border-radius : 10px;
    text-shadow: 1px 1px 2px black;
    font-size : 1.2em;
}
