---
title: Intranet → Conduites à tenir
---
<br><br><br>
<div class="container">
    <div class="col-xs-3">
        <h1 style="text-align: center;"><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp Marketing & communication</h1>
        <br>
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <i class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp Avoir des cartes de visites
                </a>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <p>Envoyer un mail à <a href="mailto:livach.prod@gmail.com">livach.prod@gmail.com</a>, avec nom, prénom, poste, téléphone, adresse. </p>
                <p>Il va vous renvoyer un bon a tirer en pdf et il faudra faire attention que tous les détails soient bons avant de le renvoyer. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">

                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <i class="fa fa-book" aria-hidden="true"></i>&nbsp
                  Gérer ma plaquette
                </a>
              </p>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <i class="fa fa-ravelry" aria-hidden="true"></i>&nbsp
                  Mettre à jour mon site
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                choubida
              </div>
            </div>
          </div>
        </div>
    </div>
        <div class="col-xs-3">
        <h1 style="text-align: center;"><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp Marketing & communication</h1>
        <br>
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <i class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp Avoir des cartes de visites
                </a>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <p>Envoyer un mail à <a href="mailto:livach.prod@gmail.com">livach.prod@gmail.com</a>, avec nom, prénom, poste, téléphone, adresse. </p>
                <p>Il va vous renvoyer un bon a tirer en pdf et il faudra faire attention que tous les détails soient bons avant de le renvoyer. </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">

                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <i class="fa fa-book" aria-hidden="true"></i>&nbsp
                  Gérer ma plaquette
                </a>
              </p>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <i class="fa fa-ravelry" aria-hidden="true"></i>&nbsp
                  Mettre à jour mon site
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                choubida
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
