[aanhef]

[body]
--
[handtekening]

===================
DISCLAIMER
1. This e-mail is meant for the intended recipient only. If you have received this by mistake, you are kindly requested to notify the sender and then delete the e-mail from your system; access to, disclosure, copying and/or distribution of this e-mail by anyone other than the intended recipient is prohibited.
2. If you, as intended recipient, have received this e-mail incorrectly, please notify the sender immediately. This e-mail is confidential and may be legally privileged. INSTALL OTYS 4 does not guarantee that the information disclosed in or attached to this e-mail is correct and does not accept any liability for damages related thereto.