[aanhef]

[body]
--
[handtekening]

===================
DISCLAIMER
De informatie verzonden met dit E-mail bericht is uitsluitend bestemd voor de geadresseerde. Gebruik van deze informatie is verboden. Openbaarmaking, vermenigvuldigen, verspreiding en/of verstrekking van deze informatie aan derden is niet toegestaan. Your!T BV staat niet in voor de juiste en volledige overbrenging van de inhoud van een verzonden E-mail, noch voor tijdige ontvangst daarvan.

The information contained in this communication is confidential and may be legally privileged. It is intended solely for the use of the individual or entity to whom it is addressed and others authorised to receive it. If you are not the intended recipient you are hereby notified that any disclosure, copying, distribution or taking any action in reliance on the contents of this information is strictly prohibited and may unlawful. Your!T BV is neither liable for the proper and complete transmission of the information contained in this communication nor for any delay in its receipt.

OTYS Recruiting Technology is een geregistreerd handelsmerk van Your!T BV.