<html>
<head>
<title> </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
.kop {  font: bold 16px Arial, Helvetica, sans-serif; color: black; padding: 15px 0px 4px; border: 1px solid; border-color: #FFFFFF #FFFFFF #000000}
.subkop {  font: bold 11px Arial, Helvetica, sans-serif; color: #666666; border: 1px solid; border-color: #FFFFFF #FFFFFF #f8f8f8; padding: 10px 0px 4px}
table {  font: 11px Arial, Helvetica, sans-serif; color: black}
body { font: 11px Arial, Helvetica, sans-serif; color: black } -->
</style>

</head>
<body>
<table width="100%" border="0">
  <tr> 
    <td> <table width="100%" border="0">
        <tr> 
          <td colspan="2" class="kop" height="36">[functie_o]</td>
        </tr>
        <tr> 
          <td class="subkop">Opdrachtgever/Contactpersoon</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2">[werkgeverid] / [wg_contactpersoon]</td>
        </tr>
        <tr> 
          <td class="subkop">Publicatie</td>
          <td class="subkop"> </td>
        </tr>
        <tr> 
          <td colspan="2">[publiceer]</td>
        </tr>
        <tr> 
          <td class="subkop">Status publicatie</td>
          <td class="subkop"> </td>
        </tr>
        <tr> 
          <td colspan="2">[vb_pubstatus]</td>
        </tr>
        <tr> 
          <td class="subkop">Status Procedure</td>
          <td class="subkop"> </td>
        </tr>
        <tr> 
          <td colspan="2">[vb_procstatus]</td>
        </tr>
        <tr> 
          <td class="subkop">Consultant</td>
          <td class="subkop"> </td>
        </tr>
        <tr> 
          <td colspan="2">[contactpersoon]</td>
        </tr>
        <tr> 
          <td class="subkop">Categorie</td>
          <td class="subkop"> </td>
        </tr>
        <tr> 
          <td colspan="2">[categorie]</td>
        </tr>
        <tr> 
          <td class="subkop" height="15">Locatie</td>
          <td class="subkop" height="15"> </td>
        </tr>
        <tr> 
          <td colspan="2">[locatie]</td>
        </tr>
        <tr> 
          <td class="subkop">Opmerkingen</td>
          <td class="subkop"> </td>
        </tr>
        <tr> 
          <td class="opmerkingen">[opmerkingen]</td>
          <td class="subkop">&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td> <table width="100%" border="0">
        <tr> 
          <td colspan="2" class="kop" height="25">Vacatureteksten</td>
        </tr>
        <tr> 
          <td class="subkop">Aanbieding/Salaris</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2">[sal_o]</td>
        </tr>
        <tr> 
          <td class="subkop">Bedrijfsprofiel</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2">[bedrprofiel]</td>
        </tr>
        <tr> 
          <td class="subkop">Cultuur</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2">[bedrcultuur]</td>
        </tr>
        <tr> 
          <td class="subkop">Functieomschrijving</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2">[functieo]</td>
        </tr>
        <tr> 
          <td class="subkop">Functiecriteria</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2">[functiee]</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td> <table width="100%" border="0">
        <tr> 
          <td class="kop" colspan="2">Selectiecriteria</td>
        </tr>
        <tr> 
          <td class="subkop">Branche</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[branche]</td>
        </tr>
        <tr> 
          <td class="subkop">Bedrijfscategorie</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[bedrcategorie]</td>
        </tr>
        <tr> 
          <td class="subkop">Branche Specialisatie</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[verzekering]</td>
        </tr>
        <tr> 
          <td class="subkop">Dienstverband</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[dienstvb]</td>
        </tr>
        <tr> 
          <td class="subkop">Functiegroep</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[functiegr]</td>
        </tr>
        <tr> 
          <td class="subkop">Bruto Salaris</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[salaris]</td>
        </tr>
        <tr> 
          <td class="subkop">Gewenst aantal uren</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[gewuren]</td>
        </tr>
        <tr> 
          <td class="subkop">Mogelijke Functies</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[functienamen]</td>
          <!---let op alternatieve naam-->
        </tr>
        <tr> 
          <td class="subkop">Opleidingsrichting</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[opleidr]</td>
        </tr>
        <tr> 
          <td class="subkop">Opleidingsniveau</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[opleidn]</td>
        </tr>
        <tr> 
          <td class="subkop">Werkervaring</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[wervaring]</td>
        </tr>
        <tr> 
          <td class="subkop">Regio</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[regio]</td>
        </tr>
        <tr> 
          <td class="subkop">Beoordeling</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2" class="trefwoorden">[beoordeling]</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td>&nbsp; </td>
  </tr>
</table>
</body>
</html>
