<html>
<head>
<title> </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
.kop {  font: bold 16px Arial, Helvetica, sans-serif; color: black; padding: 15px 0px 4px; border: 1px solid; border-color: #FFFFFF #FFFFFF #000000}
.subkop {  font: bold 11px Arial, Helvetica, sans-serif; color: #666666; border: 1px solid; border-color: #FFFFFF #FFFFFF #f8f8f8; padding: 10px 0px 4px}
table {  font: 11px Arial, Helvetica, sans-serif; color: black}
body { font: 11px Arial, Helvetica, sans-serif; color: black } -->
</style>
</head>
<body>
<table width="100%" border="0">
  <tr> 
    <td align="left" valign="top"> <table width="100%" border="0">
        <tr> 
          <td colspan="2" class="kop" height="36">[functie_o]</td>
        </tr>
        <tr> 
          <td class="subkop" height="15">Locatie</td>
          <td class="subkop" height="15"> </td>
        </tr>
        <tr> 
          <td colspan="2">[locatie]</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td> <table width="100%" border="0">
        <tr> 
          <td colspan="2" class="kop" height="25">Vacature details</td>
        </tr>
        <tr> 
          <td class="subkop">Aanbieding/Salaris</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2">[sal_o]</td>
        </tr>
        <tr> 
          <td class="subkop">Bedrijfsprofiel</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2">[bedrprofiel]</td>
        </tr>
        <tr> 
          <td class="subkop">Cultuur</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2">[bedrcultuur]</td>
        </tr>
        <tr> 
          <td class="subkop">Functieomschrijving</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2">[functieo]</td>
        </tr>
        <tr> 
          <td class="subkop">Functiecriteria</td>
          <td class="subkop"> <div align="right"></div></td>
        </tr>
        <tr> 
          <td colspan="2">[functiee]</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td align="left" valign="top"><table width="100%" border="0">
        <tr> 
          <td colspan="2" class="kop" height="36">Contactgegevens</td>
        </tr>
        <tr> 
          <td class="subkop">Contactpersoon</td>
          <td class="subkop"> </td>
        </tr>
        <tr> 
          <td colspan="2">[contactpersoon]</td>
        </tr>
        <tr> 
          <td class="subkop" height="15">Telefoon</td>
          <td class="subkop" height="15"> </td>
        </tr>
        <tr> 
          <td colspan="2">[cp_telefoon]</td>
        </tr>
        <tr> 
          <td colspan="2" class="subkop">E-mail</td>
        </tr>
        <tr>
          <td colspan="2">[cp_email]</td>
        </tr>
      </table> </td>
  </tr>
  <tr> 
    <td>&nbsp; </td>
  </tr>
</table>
</body>
</html>
