#menu{
	background:#7c3c97;
}

.menulist, .menulist  ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 5px 0;
}
.menulist ul {
display: none;
position: absolute;
top: 1.0em; margin-top: 13px;
left: -1px;
width: 150px;
}
.menulist ul ul {
top: -1px; margin-top: 0;
left: 148px;
}
.menulist li {
    background: url("../_images/space.png") no-repeat scroll 100% 50% transparent;
    border-right: medium none;
    display: block;
    float: left;
    margin-right: -2px;
    position: relative;
    width: 107px;
	z-index: 20!important;
}
.menulist ul li {
float: none;
margin: 0;
margin-bottom: -1px;
}
.menulist ul>li:last-child {
	border-right:none;
margin-bottom: 1px;
}

.menulist > li:first-child { visibility:hidden; }


.menulist a {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 19px;
    padding: 5px 0 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 104px;
}

.menulist ul li:last-child{
	background:none;
}
.menulist a:hover,.menulist a.highlighted, .menulist a:focus {
	background:url("../_images/bg-hover.png") no-repeat;
	height:19px;
	width: 104px;
}
.menulist a.highlighted {
}
.menulist a .subind {
display: none;
}
.menulist ul a .subind {
display: block;
float: right;
}
.menulist a {
float: left;
}
.menulist ul a {
float: none;
}
.menulist a {
float: none;
}
*:first-child+html .menulist ul li {
float: left;
width: 100%;
}
* html .menulist ul li {
float: left;
height: 1%;
}
* html .menulist ul a {
height: 1%;
}
.menulist li:hover>ul {
display: block;
}

ul.sousmenu {
	background:#ce4ae6;
}

.menulist ul.sousmenu{
    margin: 12px 0 -3px 2px;
    padding: 0 10px;
}

.menulist ul.sousmenu li{
    background: none repeat scroll 0 0 transparent;
    border-bottom: 2px dotted #FFFFFF;
    padding: 5px 0;
    white-space: nowrap;
    width: auto;
}

.menulist ul.sousmenu li:last-child{
	border-bottom:none;
}

.menulist ul.sousmenu li a{
	text-transform:none;
	text-align: left;
}